DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, 
while a Series is a 1-dimensional data structure used to represent a single column or row of data within a 
DataFrame or as a standalone data structure.

In [1]:
import numpy as np
import pandas as pd
List = list("abcdef")
numpyArr = np.arange(1, 10)
dictArr = {"A" : 0, "B" : 1, "C" : 2}

series1 = pd.Series(List)
series2 = pd.Series(numpyArr)
series3 = pd.Series(dictArr)

print(series1)
print(series2)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
A    0
B    1
C    2
dtype: int64

In [14]:
#combining two series to make dataframes
ser1 = pd.Series(list('abcde'))
ser2 = pd.Series(np.arange(5))

# df = pd.DataFrame(ser1, ser2).reset_index() #reset_index() adds that index column extra
# df.head(5)

#to name the col we can use dictionary
ser_df = pd.DataFrame({"col1":ser1, "col2":ser2})
ser_df.head(5)
# using pandas concat
ser_df = pd.concat([ser1, ser2], axis = 1)
ser_df.head(5)

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [20]:
 # How to get the items of series A not present in series B?
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1 = ser1[~ser1.isin(ser2)]
print(ser1)

0    1
1    2
2    3
dtype: int64